body {
    margin: 0 !important;
    padding: 0;
}
main {
    margin-bottom: 0 !important;
}
.navbar-toggler-icon {
    background-color: dimgrey !important;
    width: 26px !important;
    height: 2px !important;
    margin-bottom: 5px;
}
.ui-navbar-toggler {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
}
.product {
    margin-bottom: 2rem;
}
.produits__page {
    margin-top: 40px;
}
.card-img-top {
    object-fit: cover;
    height: 30vh;
}
.cont__quantity {
    width: 60px;
    border:  1px solid black;
    text-align: center;
    padding-top: 6px;
    margin-left: 20px;
}
#add__quantity {
    width: 30px;
}
#del__quantity {
    width: 30px;
}
.cont__input {
    text-align: center;
}

.registration {
    width: 80%;
    margin-left: 5%;
}

@media (min-width: 420px) {
    .navbar-collapse {
        float: right;
        flex-grow: 0 !important;
    }
    .navbar-toggler-icon{
        background-color: transparent !important;
    }
}
@media (min-width: 1030px) {
    .product{
        margin: 20px;
    }
    .registration {
        width: 50%;
        margin-left: 25%;
    }
}