<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar row">
                <img class="responsive" src="../../pictures/orinoco.png" alt="Logo d'Orinoco">
                <ul>
                    <li>
                        <a href="../../view/home/index.html">Acceuil</a>
                    </li>
                    
                </ul>
            </nav>
        </header>
		<main class="container-fluid bgc-dark">
			<h1>Résumé de votre commande</h1>
			<div class="container-fluid row produit__page"></div>
            <div class="row total"></div>
            <div>
                <form action="" method="POST" name="registration">
                        <legend></legend>
                        <div class="form-group">
                            <label for="lastname">Nom :</label>
                            <input type="text" name="lastname" placeholder="DUPOND">
                            <small id="lastname"></small>
                        </div>
                        <div class="form-group">
                            <label for="firstname">Prénom :</label>
                            <input type="text" name="firstname" placeholder="Pierre">
                            <small id="firstname"></small>
                        </div>
                        <div class="form-group">
                            <label for="city">Ville : </label>
                            <input type="text" name="city" placeholder="AVIGNON">
                            <small id="city"></small>
                        </div>
                        <div class="form-group">
                            <label for="adress">Votre adresse : </label>
                            <input type="text" name="adress" placeholder="20 rue de la chaussée">
                            <small id="adress"></small>
                        </div>
                        <div class="form-group">
                            <label for="email">Votre email : </label>
                            <input type="email" name="email" placeholder="pierre_dupond@dde.fr">
                            <small id="email"></small>
                        </div>  
                        <input type="submit" id="sub__form" value="envoyer">
                </form>
                <p id=error></p>
            </div>
		</main>
        <footer>

        </footer>
    </div>
<script type="text/javascript" src="./basket.js"></script>
<script type="text/javascript" src="../../js/contact.js"></script>
<script type="text/javascript" src="../../js/productManager.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>